.signIn {
  width: 110%;
  height: 100px;

  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: -30px;
  
}

.container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.item {
  font-size: larger;
  width: 30%;
}

.inactive {
  width: 40%;
  cursor: pointer;
  font-weight: bold;
  padding-top: 13px;
  text-align: center;
  background: #343436;
  color: #fff;
  border-radius: 100px 100px 0px 0px / 100px 100px 100px 100px;
  height: 50px;
}
.active {
  width: 40%;
  font-weight: bold;
  padding-top: 13px;
  text-align: center;
  background: #ebdebe;
  color: #000;
  border-radius: 100px 100px 0px 0px / 100px 100px 100px 100px;
  height: 50px;
}
