.item {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 2px;
  color: #46366f;
}
.item:hover {
  cursor: pointer;
}
.item h2 {
  color: #46366f;
}

.onHoverItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2vh;
}

.editNote {
  display: block;
  margin-left: 5px;
}
.editNote input {
  height: 35px;
  margin-bottom: 5px;
  margin-left: -5px;
  border-style: none;
  background: #89b6c5;
  color: #46366f;
  font-size: larger;
  outline: none;
  border-radius: 10px;
  text-align: center;
}
.button {
  cursor: pointer;
  margin-left: 5px;
  height: 30px;
  width: 50px;
  padding: 0;
  background: #89b6c5;
  border-radius: 30px;
  font-size: medium;
  border: none;
  outline: none;
}

.button:hover {
  background: #46366f;
  color: #89b6c5;
}

.newNote {
  height: 35px;
  margin-bottom: 5px;
  border-style: none;
  background: #89b6c5;
  color: #46366f;
  font-size: larger;
  outline: none;
  border-radius: 10px;
  text-align: center;
}

.item span:hover {
  cursor: pointer;
}
