.container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.date {
  width: 100%;
  display: flex;
  justify-content: center;
}

.list {
  list-style: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.newNote{
  display: block;
  margin-left: 5px;
}

.newNote input {
  height: 35px;
  margin-bottom: 5px;
  margin-left: -5px;
  border-style: none;
  background: #89b6c5;
  color: #46366f;
  font-size: larger;
  outline: none;
  border-radius: 10px;
  text-align: center;
}
.button {
  cursor: pointer;
  
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  padding: 0;
  background: #89b6c5;
  border-radius: 30px;
  font-size: medium;
  border: none;
  outline: none;
}

.button:hover{
  background: #46366F;
  color: #89b6c5;
}
.addButton {
  cursor: pointer;
  height: 35px;
  width: 135px;
  padding: 0;
  background: #89b6c5;
  border-radius: 30px;
  font-size: medium;
  border: none;
  outline: none;
}

.addButton:hover{
  background: #46366F;
  color: #89b6c5;
}

.calendarButton {
  cursor: pointer;
  height: 30px;
  width: 135px;
  padding: 0;
  background: #89b6c5;
  border-radius: 0px 0px 30px 30px / 0px 0px 30px 30px; 
  font-size: medium;
  border: none;
  outline: none;
}

.calendarButton:hover{
  background: #46366F;
  color: #89b6c5;
}

.calendar{
  display: flex;
  align-items: center;
  justify-content:space-around;
  position: fixed;
  top: 25%;
  left: 45%;
  transform: translate(-45%, -25%);
}