.container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.date {
  width: 100%;
  height: 25px;
  margin-top: 1vh;
  margin-left: 1vh;
  display: flex;
  justify-content: left;
  color: #46366f;
  font-weight: bold;
}

.list {
  list-style: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.newNote {
  display: block;
  margin-left: 5px;
}

.newNote input {
  height: 35px;
  margin-bottom: 5px;
  margin-left: -5px;
  border-style: none;
  background: #89b6c5;
  color: #46366f;
  font-size: larger;
  outline: none;
  border-radius: 10px;
  text-align: center;
}
.button {
  cursor: pointer;

  height: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  padding: 0;
  background-color: var(--misc);
  color: var(--navbar);
  border-radius: 30px;
  font-size: medium;
  border: none;
  outline: none;
}

.button:hover {
  background-color: var(--navbar);
  color: var(--misc);
}
.addButton {
  cursor: pointer;
  width: var(--box-frame);
  height: var(--box-frame);
  margin: 5px;
  padding: 0;
  background-color: var(--navbar);
  color: var(--misc);
  border-radius: 30px;
  font-size: 5vh;
  border: none;
  outline: none;
  border: 2px dashed var(--misc);
}

.addButton:hover {
  font-weight: bold;
  background-color: var(--navbar);
  color: var(--misc);
}

.calendarButton {
  cursor: pointer;
  width: calc(var(--box-frame)/5);
  height: calc(var(--box-frame)/5);
  margin-top: 10px;
  padding-top: 3px;
  font-weight: bold;
  background-color: var(--misc);
  color: var(--navbar);
  border-radius: 30px;
  font-size: medium;
  border: none;
  outline: none;
}

.calendarButton:hover {
  font-weight: bold;
  background-color: var(--navbar);
  color: var(--misc);
}

.calendar {
  display: block;
  position: fixed;
  top: 25%;
  left: 45%;
  transform: translate(-45%, -25%);
}
