@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");


.black-content {
  --background: #121212;
  --frame: #222222;
  --text: #FFFFFE;
  --navbar: #222222;
  --navbar-text: #FFFFFE;
  --misc: #ff8e3c;
  --hover: #FFFFFE;
  --hover-text: #ff8e3c;
  --box-frame: 250px;
  --frame-border: #FFFFFE;
  background-color: var(--background);
  
}

.white-content{
  --background: #eff0f3;
  --frame: #fffffe;
  --text: #0d0d0d;
  --navbar: #fffffe;
  --navbar-text: #0d0d0d;
  --misc: #ff8e3c;
  --hover: #0d0d0d;
  --hover-text: #ff8e3c;
  --box-frame: 250px;
  --dark-background: #232946;
  background-color: var(--background);
}


* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: auto;
}

h1 {
  font-size: 2.5rem;
  color: #2c292b;
}

h2 {
  font-size: 1.5rem;
}
