.header {
  position: absolute;
  width: 100%;
  height: 10vh;
  left: 0px;
  top: 0px;
  background: var(--navbar);
  color: var(--navbar-text);
}

.inner {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  display: flex;
  
}


.header li {
  margin-left: 2rem;
  
}

.header a {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--navbar-text);
}


.profile {
  cursor: pointer;
  width: calc(var(--box-frame)/5);
  height: calc(var(--box-frame)/5);
  position: relative;
  left: -2rem;
  margin-top: 25px;
  border-radius: 50px;
  display: inline-block;
  background-color: var(--misc);
  color: var(--navbar-text);
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background: var(--navbar);
    color: var(--misc);
    border: var(--misc);
    border-style: solid;
    border-width: 1px;
  }
}


.notes {
  position: relative;
  top: 15px;
}
