.header {
  position: absolute;
  width: 100%;
  height: 10%;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content:space-around;
  background: #46366F;
}

.header ul {
  list-style: none;
  margin: 220px;
  margin-top: 165px;
  margin-left: 20%;
  width: 55%;
  height: 10%;
  padding: 0;
  display: flex;
  align-items: normal;
}

.header li {
  
  margin-left: 3rem;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #EBDEBE;
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
}
.space{
  width: 25%;
}
.profile{
  height: 4rem;
  width: 4rem;
  position:relative;
  left: -2rem;
  border-radius: 50%;
  display: inline-block;
  background-color: #89B6C5;
  font-size:small;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #46366F;
}

.profile:hover{
  background: #46366F;
  color: #89b6c5;
  border: #89B6C5;
  border-style:solid;
  border-width: 2px;
}


.notes{
  position: relative;
  top: 15px;
}
